<h2>Sources</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>URI</th>
            <th>Update interval</th>
            <th>Last updated</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let source of sources">
            <td>{{source.name}}</td>
            <td>{{source.uri}}</td>
            <td>{{source.updateInterval}}</td>
            <td>{{source.lastUpdated}}</td>
            <td>
                <button class="btn btn-danger" (click)="deleteSource(source)">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
